<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <title>REST API</title>
    <!-- <style>
        [v-cloak] {
            display: none;
        }
    </style> -->
</head>

<body>
    <div class="container pt-3" id="app">
        <h1>REST API WORKING</h1>

        <!-- @submit.prevent - вызывать клиентский отлик -->
        <form class="form-inline mb-3" @submit.prevent="createContact">
            <div class="form-group mr-5">
                <label for="building" class="mr-3">Здание</label>
                <input type="text" class="form-control" id="building" v-model="form.building">
            </div>
            <div class="form-group mr-5">
                <label for="auditory" class="mr-3">Аудитория</label>
                <input type="text" class="form-control" id="auditory" v-model="form.auditory">
            </div>
            <div class="form-group mr-5">
                <label for="displina" class="mr-3">Дисциплина</label>
                <input type="text" class="form-control" id="displina" v-model="form.displina">
            </div>
            <div class="form-group mr-5">
                <label for="time" class="mr-3">Время</label>
                <input type="text" class="form-control" id="time" v-model="form.time">
            </div>

            <button class="btn btn-primary" type="submit">Создать</button>
        </form>

        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">contact.building</p>
                <p class="card-text">contact.auditory</p>
                <p class="card-text">contact.displina</p>
                <p class="card-text">contact.time</p>
                <button class="btn btn-primary">Отметить</button>
                <button class="btn btn-danger">Удалить</button>
            </div>
        </div>

        <p v-else>Контактов пока нет</p>
    </div>


    <script>
        type = "module"
        scr = "frontend.js"
    </script>
</body>

</html>