html 
{
    background-color: #ffffff;
}

header
{
    background-color: #000000;
}

body 
{
    background-color: #ffffff;
}

footer 
{
    background-color: #2e2e2e;
    margin: 0px 0px 0px 0px;
}

.LOGO2 img 
{  
    width: 100px;
    height: 120px;
    margin: 0px 0px 0px 0px;
}

.LOGO2
{  
    text-align: center;
}
 
.parent
{
	padding: 30px 30px 30px 30px;
}

.form-group
{
    padding: 15px 0px 15px 0px;
}

.form-check
{
    padding: 15px 0px;
}

h1
{
    text-align: center;
    padding: 50px;
}

















   
     






























