html 
{
    background-color: #ffffff;
}

header
{
    background-color: #000000;
}

body 
{
    background-color: #ffffff;
}

footer 
{
    background-color: #2e2e2e;
    margin: 0px 0px 0px 0px;
}

.LOGO2 img 
{  
    width: 100px;
    height: 120px;
    margin: 0px 0px 0px 0px;
}

.LOGO2
{  
    text-align: center;
}


.menu
{
    background-color: #4d4d4d;
    padding: 17px 0px 17px 0px;
}
    
.menu ul  
{
    list-style: none; /* Убираем маркер для элементов списка */
    margin: 0px 0px 0px 0px;
}

.menu ul li 
{
    display: inline-block;/*Выстраиваем пункты меню в ряд по горизонтали */
}    
   

.menu ul li a 
{
    display: block; /* Настраиваем оформление пунктов меню */
    text-decoration: none;
    color: #ffffff;
    font-size: 150%;
    margin: 0px 100px 0px 100px;
}  

.parent
{
	padding: 70px 0px 70px 0px;
}

.child 
{
	display: inline-block;
	width: 30%;
    padding: 0px 0px 0px 0px;

}

.child2
{
	display: inline-block;
	width: 30%;
    padding: 70px 0px 0px 0px;
}

.child3
{
	display: inline-block;
	width: 30%;
    padding: 70px 0px 0px 0px;
}

.child4
{
	display: inline-block;
	width: 30%;
    padding: 70px 0px 0px 0px;
}

.child img
{
    width: 350px;
    height: 350px;
}

.child2 img
{
    width: 350px;
    height: 350px;
}

.child3 img
{
    width: 350px;
    height: 350px;
}

.child4 img
{
    width: 350px;
    height: 350px;
}

.child a
{
    color: black;
}

.child2 a
{
    color: black;
}

.child3 a
{
    color: black;
}

.child4 a
{
    color: black;
}

.child p
{
    padding: 0px 0px 0px 0px;
}

.child2 p
{
    padding: 0px 0px 0px 0px;
}

.child3 p
{
    padding: 0px 0px 0px 0px;
}

.child4 p
{
    padding: 0px 0px 0px 0px;
}

.nadtext
{
    padding: 30px 0px 0px 0px;
}

.child p a 
{
    background-color: rgb(224, 240, 11);
    padding: 10px;
}

.child2 p a 
{
    background-color: rgb(224, 240, 11);
    padding: 10px;
}

.child3 p a 
{
    background-color: rgb(224, 240, 11);
    padding: 10px;
}

.child4 p a 
{
    background-color: rgb(224, 240, 11);
    padding: 10px;
}

.ssilka
{
    padding: 20px 0px 0px 0px;
}

.color-menu:hover { /* При наведений меняется цвет кнопки "Связаться"  */
    color: rgb(224, 240, 11);
}

.color:hover { /* При наведений меняется цвет кнопки "Связаться"  */
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.nadtext2
{
    padding: 30px 0px 0px 0px;
}

.nadtext3
{
    padding: 30px 0px 0px 0px;
}

.primer1 
{ 
    color: #ffffff;
    display: inline-block; 
    text-align: center; 
    margin: 0px 120px 0px 120px; 
}

.primer2 
{
    color: #ffffff;
    display: inline-block; 
    text-align: center; 
    margin: 0px 120px 0px 120px; 
}

.primer3 
{
    color: #ffffff;
    display: inline-block; 
    text-align: center; 
    margin: 0px 120px 0px 120px; 
}

.primer0 img 
{
    width: 80px;
    height: 100px;
    margin: 20px;
}

.blok4 div 
{
    display: inline-block;
}















   
     






























