html 
{
    background-color: #ffffff;
}

header
{
    background-color: #000000;
}

body 
{
    background-color: #ffffff;
}

.LOGO2 img 
{  
    width: 100px;
    height: 120px;
    padding: 0px 0px 0px 0px;
}

.LOGO2
{  
    text-align: center;
}

.butt
{
    padding: 50px 0px 50px 0px;
}

h1
{
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.input-group-append
{
    padding: 0px 0px 0px 0px;
}

.vibor
{
    padding: 0px 0px 20px 0px;
}

.form-group
{
    padding: 0px 0px 15px 0px;
}















   
     






























