<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <script id="anima-hotspots-script" src="hotspots.js"></script>
    <style id="hotspots-styles">
        .hotspot {
            position: absolute;
            border: 1px solid #2a9fd8;
            background: rgba(0, 173, 255, 0.54);
            opacity: 0;
            z-index: -1;
        }
    </style>
    <script id="s_turbo" src="https://animaapp.s3.amazonaws.com/static/turbolinks.min.js"></script>
    <script id="anima-overrides-script" src="overrides.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/js/timeline.js"></script>

    <!-- Подключение CSS стилей -->
    <link rel="stylesheet" href="/web/css/order_globalStyles.css">
    <link rel="stylesheet" href="/web/css/order_overrides_styles.css">
    <link rel="stylesheet" href="/web/css/order_action_links_styles">

    <!-- <script id="anime-js-script" src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script> -->-->
    <!-- <script id="imgloaded-js-script" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <script src="/web/index.js" type="text/javascript"></script>
    <script src="/web/Post.js" type="text/javascript"></script>
    <script src="/web/router.js" type="text/javascript"></script>
    <script src="/web/package.json" type="text/javascript"></script>
    <script src="/web/package-lock.json" type="text/javascript"></script>

    <!-- Вызов функции для подключения отправки файла в БД -->
    <script type="text/javascript" src='/web/index.js'></script>
    <script type="text/javascript" src='/web/Post.js'></script>
    <script type="text/javascript" src='/web/router.js'></script>
    <script type="text/javascript" src='/web/package.json'></script>
    <script type="text/javascript" src='/web/package-lock.json'></script>

    <!-- Вызов функции для печати всплывающего окна -->
    <script type="text/javascript" src='/web/Print_alert.js'></script>

</head>

<body style="margin: 0px; background: rgb(255, 255, 255); overflow-x: hidden;" dark-scroll=""><input type="hidden" id="anPageName" name="page" value="order-deaf">

    <div class="container-center-horizontal" id="app1">
        <div class="order-deaf screen " data-id="201:19">
            <div class="bgc-FtKNIR" data-id="201:20"></div>
            <h5 class="text_label-FtKNIR" data-id="201:22">ЭКСПРИМЕНТАЛЬНЫЙ САЙТ ДЛЯ ПРОВЕРКИ РАБОТОСПОСОБНОСТИ ОТПРАВКИ ИНФОРМАЦИИ В БАЗ ДАННЫХ
            </h5>

            <!-- Рамки поля -->
            <img class="line-17-FtKNIR" data-id="201:26" src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg" anima-src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg">
            <img class="line-18-FtKNIR" data-id="201:27" src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg" anima-src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg">
            <img class="line-19-FtKNIR" data-id="201:28" src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg" anima-src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg">
            <img class="line-20-FtKNIR" data-id="201:29" src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg" anima-src="https://cdn.animaapp.com/projects/61bf8d28f9af78fead72bb52/releases/61bf91dfe4d6a145a6b99532/img/line-17@2x.svg">

            <!-- Кнопка отправить -->
            <div class="button-primary-FtKNIR" data-id="201:44"></div>

            <form name="block1">
                <form class="mx-auto mb-4 md:w-700" @submit.prevent="createContact">
                    <div class="text_label-h38Ady">
                        <label for="building" class="mr-3">Здание</label>
                        <input type="text" class="form-control" id="building" v-model="form.building">
                    </div>
                </form>

            </form>

            <form name="block2">
                <form class="mx-auto mb-4 md:w-700" @submit.prevent="createContact">
                    <div class="text_label-FDUzlk inter-normal-black-24px">
                        <label for="auditory" class="mr-3">Аудитория</label>
                        <input type="text" class="form-control" id="auditory" v-model="form.auditory">
                    </div>
                </form>

            </form>

            <form name="block3">
                <form class="mx-auto mb-4 md:w-700" @submit.prevent="createContact">
                    <div class="text_label-a1faSh inter-normal-black-24px">
                        <label for="displina" class="mr-3"> Дисциплина</label>
                        <input type="text" class="form-control" id="displina" v-model="form.displina">
                    </div>
                </form>
            </form>

            <form name="block4">
                <form class="mx-auto mb-4 md:w-700" @submit.prevent="createContact">
                    <div class="text_label-49dK6T inter-normal-black-24px" data-id="201:31">
                        <label for="time" class="mr-3">Расписание пар</label>
                        <input type="text" class="form-control" id="time" v-model="form.time">
                    </div>
                </form>
            </form>

            <div class="text_label-9HlS0X" @submit.prevent="createContact">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>

    </div>



    <script src="launchpad-js/launchpad-banner.js" async=""></script>
    <script defer="" src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js"></script>
    <div id="anima-interface" data-turbolinks-permanent="true" class="idle">

        <div class="omniview-anima-action-links" id="actions-wrap">
            <div class="omniview-anima-action-links">
                <div id="page-nav" class="link navigation" style="display: none;">
                    <svg id="homepage-icon" class="home-icon" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.151 11a.25.25 0 01-.167-.436l4.349-3.913a.25.25 0 01.334 0l4.349 3.913a.25.25 0 01-.167.436H8.15zM16 12H9v4a1 1 0 001 1h5a1 1 0 001-1v-4z"
                            fill="#fff"></path>
                    </svg>

                    <svg class="icon" id="arrow-left" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 18l-6-6 6-6" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>

                    <span id="page-num"></span>

                    <svg class="icon" id="arrow-right" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 6l6 6-6 6" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>

                <a class="link" id="comment-link" target="_blank" style="display: none;">
                    <span class="text">Comment</span>
                    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.301 15.137a.551.551 0 01.199-.55c.314-.23.554-.554.718-.965A6.015 6.015 0 014 10 6.006 6.006 0   0110.001 4 6.006 6.006 0 0116 10.001 6.006 6.006 0 019.999 16a5.98 5.98 0 01-3.095-.86 3.165 3.165 0 01-1.65.438 3.6  3.6 0 01-.57-.044c-.191-.03-.34-.186-.383-.397z"
                            fill="#fff"></path>
                    </svg>
                </a>

                <a class="link" id="code-link" target="_blank" style="display: none;">
                    <span class="text">Get Code</span>
                    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 15.667a1 1 0 01-.707-1.708l3.626-3.625-3.626-3.626a1 1 0 111.415-1.415l4.333 4.333a1 1 0 010 1.414l-4.333 4.333a.993.993 0 01-.707.294zM7.333 5a1 1 0 01.707 1.708l-3.626 3.625 3.627 3.626a1 1 0 11-1.415 1.415L2.293 11.04a1 1 0 010-1.415l4.333-4.333A.992.992 0 017.333 5z"
                            fill="#fff"></path>
                    </svg>
                </a>

                <div class="restart" id="restart-btn" style="display: none;">
                    <svg style="margin-right: 6px" width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 11.817A5.017 5.017 0 01.994 6.811c0-.207.169-.375.375-.375s.375.168.375.375A4.265 4.265 0 006 11.067a4.265 4.265 0 004.256-4.256A4.265 4.265 0 006 2.555a.376.376 0 01-.375-.376c0-.206.169-.374.375-.374a5.017 5.017 0 015.006 5.006A5.017 5.017 0 016 11.817z"
                            fill="#fff"></path>
                        <path
                            d="M6.75 4.237a.37.37 0 01-.263-.112l-1.65-1.65a.363.363 0 010-.525L6.487.3c.15-.15.375-.15.525 0 .15.15.15.375 0 .525L5.625 2.212 7.012 3.6c.15.15.15.375 0 .525-.056.075-.15.112-.262.112z"
                            fill="#fff"></path>
                    </svg> Restart
                </div>
            </div>
        </div>
        <!---->
    </div>

    <div id="anima-watermark" style="display: none;" class="idle">
        <!---->
        <a id="anima-watermark-link" target="_blank" href="https://www.animaapp.com?utm_campaign=public-link-banner&amp;utm_source=animaapp.io" style="right: 20px; left: auto; padding: 6px;">
            <svg width="20" height="20" viewBox="0 0 20 20" id="anima-logo-icon" fill="none" xmlns="http://www.w3.org/2000/svg" data-hotspot-id="hp-0">
                <path
                    d="M4.09293 3.00001H16.5327C16.5484 2.99976 16.5638 3.00351 16.5776 3.01092C16.5913 3.01832 16.603 3.02913 16.6114 3.04231C16.6198 3.0555 16.6247 3.07061 16.6256 3.08622C16.6265 3.10182 16.6233 3.1174 16.6165 3.13146C15.5441 5.29706 13.9276 7.14699 11.9253 8.50009C8.69117 10.6822 5.43436 10.9075 4.09389 10.9196C4.08165 10.9198 4.06949 10.9176 4.05811 10.9131C4.04672 10.9086 4.03636 10.9019 4.02761 10.8933C4.01887 10.8848 4.01192 10.8745 4.00718 10.8633C4.00244 10.852 4 10.8399 4 10.8276V3.09198C4 3.07982 4.00241 3.06778 4.00709 3.05656C4.01177 3.04534 4.01863 3.03516 4.02728 3.02661C4.03592 3.01805 4.04617 3.0113 4.05744 3.00673C4.06871 3.00217 4.08077 2.99988 4.09293 3.00001Z"
                    fill="#FF6250"></path>
                <path
                    d="M6.77772 17.4446C8.31182 17.4446 9.55545 16.201 9.55545 14.6669C9.55545 13.1328 8.31182 11.8892 6.77772 11.8892C5.24363 11.8892 4 13.1328 4 14.6669C4 16.201 5.24363 17.4446 6.77772 17.4446Z"
                    fill="#FFDF90"></path>
                <path
                    d="M12.4559 17.2799C11.6701 16.9799 11.2522 16.1151 11.5185 15.3496L13.6153 9.3656C13.884 8.60003 14.7387 8.22302 15.5245 8.52299C16.3103 8.82344 16.7282 9.68772 16.4619 10.4538L14.365 16.4377C14.0964 17.2033 13.2417 17.5808 12.4559 17.2799Z"
                    fill="#3366FF"></path>
            </svg>
            <span class="text" style="display: none;">Made with Anima</span>
        </a>
    </div>
    <div id="hotspots_wrapper">
        <div class="hotspot" id="hp-0" style="top: 0px; left: 0px;"></div>
    </div>
</body>

</html>